 /* #box{ 
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: yellowgreen;
}   */
  .content{
    color: rgb(228, 222, 222);
    background-color: aqua;
  }
  .newclass{
    background-color: green;

    