/* .heading{
    background-color: blue;
    text-decoration: yellowgreen;
    color: brown;
}
.h4{
    background-color: greenyellow;
    color: blueviolet;
}
#button{
    background-color: black;
    -webkit-text-fill-color: aliceblue;
} 
 .div{
    width: 100px;
    height: 100px;
    background-color: red;
    color: rgb(159, 30, 30);
    border: 1px solid black;

 } */